#login-page {
    background: url(/imgs/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    color: white;
}

.login-box h1 {
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.login-box .textbox i {
    color: #4caf50;
    width: 26px;
}

.login-box .textbox {

    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.login-box ::placeholder {
    color: white;
}

.login-box input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    margin: 10px;

}

.login-box .btn {

    background: none;
    color: white;
    padding: 5px;
    border: 2px solid #4caf50;
    font-size: 20px;
    cursor: pointer;
    margin: 12px;

}