.form-annon-dyna {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.annon-card {
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  width: 90vw;
  height: 150px;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-template-rows: 1f 3fr 1fr;
  column-gap: 5%;
  height: 50vh;
  background-color: rgba(52, 152, 219, 0.3);
}

.annon-card img {
  grid-row-start: 1;
  grid-row-end: 4;
  max-width: 100%;
  align-self: center;
  justify-self: center;
  object-fit: cover;
  border-radius: 10px;
}

.annon-card .titre-annon {
  margin: 0;
  align-self: center;
}

.annon-card .titre-annon h2 {
  margin: 0;
  align-self: center;
}
.annon-card .titre-annon p {
  margin: 0;
  width: 80%;
}

.annon-card .corps-annon p {
  margin: 0;
}

.annon-card .date-trash {
  display: flex;
  justify-content: space-between;
}

.date-trash button {
  border: none;
  appearance: none;
  background-color: rgba(219, 52, 52, 0.8);
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.date-trash i {
  color: white;
  font-size: 1.5em;
}

.form-annon-dyna input {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #3498db;
}
