.form-annon-dyna {
    display: flex;
    justify-content: center;
    padding: 30px;

}

.form-annon-dyna button {
    background-color: #3498DB;
    height: 50px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Convergence', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
}